@import "reset";
@import "variables";
@import "media";
@import "grid";
@import "mixin";
@import "font";
@import "img";
@import "hover";
@import "header";
@import "footer";
@import "wrapper";
@import "notice";

/**************\
* 變數
\**************/

$bg-color: #fff;

/**************\
* 動畫
\**************/

@keyframes hand {
    0% {
        height: 0px;
    }
    50% {
        height: 50%;
    }
    100% {
        height: 100%;
    }
}


/**************\
* 通用
\**************/

img {
    width: 100%;
}