@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  font-size: 10px;
  font-family: "Noto Sans TC", "Open Sans"; }

/****************\
* IMG
\****************/
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

.logo {
  width: 300px;
  height: 50px;
  float: left;
  margin-top: 5px; }

.logo img {
  width: 100%; }

.fb_btn {
  float: right;
  display: inline-block; }

header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 70px;
  z-index: 777;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1); }

header > div {
  padding: 5px 10px 0; }

nav {
  float: right;
  line-height: 2.5; }

nav ul li {
  color: #898989;
  cursor: pointer;
  display: inline-block;
  padding-right: 40px;
  position: relative;
  font-size: 18px; }

nav span {
  display: inline-block; }

nav svg {
  vertical-align: middle;
  margin-top: -3px; }

nav ul li a {
  color: #898989; }

nav ul li:hover span {
  color: #0097E0; }

nav ul li:hover g {
  fill: #189343; }

nav ul li:hover,
.logo:hover img {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01); }

.es_submenu {
  position: absolute;
  background: #fff;
  padding: 20px;
  width: 150px;
  display: none;
  -webkit-animation: fadeInDown 0.3s;
  animation: fadeInDown 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

nav ul li:hover .es_submenu {
  display: block; }

.es_submenu a:hover,
a.page-scroll.active {
  color: #189343; }

.menuopen {
  display: none;
  float: right;
  position: absolute;
  right: 10px;
  top: 2px; }

.menuopen div {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 2px;
  cursor: pointer; }

.desktop-menu {
  margin-top: 8px; }

.mline1 {
  width: 25px;
  height: 2px;
  background: #9B9B9B;
  position: absolute;
  top: 12px; }

.mline2 {
  content: '';
  width: 25px;
  height: 2px;
  background: #9B9B9B;
  position: absolute;
  top: 21px; }

.mline3 {
  content: '';
  width: 20px;
  height: 2px;
  background: #9B9B9B;
  position: absolute;
  top: 30px; }

.mline4 {
  content: '';
  width: 25px;
  height: 2px;
  background: #9B9B9B;
  position: absolute;
  top: 21px;
  -webkit-transform: rotate(45deg) scaleX(0);
  -ms-transform: rotate(45deg) scaleX(0);
  transform: rotate(45deg) scaleX(0); }

.clickopen span.mline1,
.clickopen span.mline3 {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0); }

.clickopen span.mline2 {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.clickopen span.mline4 {
  -webkit-transform: rotate(45deg) scaleX(1);
  -ms-transform: rotate(45deg) scaleX(1);
  transform: rotate(45deg) scaleX(1); }

li.no_show {
  display: none; }

nav g,
nav span,
nav ul li,
.logo img,
nav,
.clickopen > span {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

@media only screen and (max-width: 900px) {
  nav ul li > svg,
  .menuopen {
    display: inline-block; }
  nav span {
    font-size: 16px; }
  nav ul li {
    padding-right: 5px; }
  .logo {
    width: 240px;
    height: auto;
    margin-top: 10px; }
  nav {
    line-height: 2.1; }
  header > div {
    padding: 5px 10px; }
  nav {
    width: 80%;
    height: 100%;
    background: #fff;
    padding-top: 10px;
    top: -10px;
    right: -90%;
    bottom: 0;
    position: fixed;
    opacity: 0; }
  nav.show {
    right: 0;
    opacity: 1;
    background-color: #eeeeee; }
  nav ul {
    padding: 30px; }
  nav ul li {
    width: 100%;
    padding-bottom: 10px; }
  .es_submenu {
    position: relative;
    display: block; }
  nav ul li > svg,
  .menuopen {
    display: inline-block;
    margin-top: 10px; } }

.ft {
  max-width: 1920px;
  margin: auto;
  position: relative;
  padding: 2em 0;
  background: #fff; }

@media screen and (max-width: 960px) {
  .main {
    float: none;
    width: 100%; }
  .info {
    float: none;
    width: 100%;
    padding-top: 20px; }
    .info .title,
    .info .desc,
    .info .video,
    .info .ad,
    .info .notice {
      margin-left: 0; } }

@media screen and (max-width: 640px) {
  .info .video {
    padding: 0; }
    .info .video li {
      padding: 0.5em;
      font-size: 14px; }
  .info .notice h4 {
    font-size: 20px; }
    .info .notice h4 span {
      font-size: 14px;
      top: 0; } }

@media screen and (max-width: 576px) {
  .wrap {
    padding-bottom: 90px; }
  .info .title br {
    display: block; }
  .info .video li span br {
    display: none; }
  .info .video li:nth-child(2):after,
  .info .video li:nth-child(3):after {
    top: 0px;
    left: 0px; }
  .info .notice h4 {
    font-size: 18px;
    padding: 0.25em 1.5em; }
    .info .notice h4 br {
      display: block; }
    .info .notice h4 span {
      font-size: 12px; }
  .info .notice p {
    font-size: 16px; }
    .info .notice p br {
      display: none; }
  .ft:before {
    width: 302px;
    height: 65px;
    top: -55px;
    left: 50%;
    margin-left: -151px; }
  .pointin {
    max-width: 340px; } }

.commonhealth_footer-channel {
  width: 100%;
  font-size: 0.9375rem;
  font-size: 15px;
  line-height: 1;
  text-align: center;
  margin-bottom: 5px; }

.commonhealth_footer-channel ul {
  margin: 0;
  padding: 0; }

.commonhealth_footer-channel li {
  display: inline-block;
  border-right: 1px solid #ccc;
  padding-right: 12px;
  margin-right: 10px;
  margin-bottom: 10px; }

.commonhealth_footer-channel li a {
  color: #333;
  text-decoration: none;
  position: relative; }

.commonhealth_footer-channel li a:after {
  content: "";
  background-color: #094;
  width: 0;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: -3px;
  display: inline-block;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.commonhealth_footer-channel li a:hover:after {
  width: 100%;
  left: 0; }

.commonhealth_footer-channel li:last-child {
  border: none;
  margin-right: 0;
  padding-right: 0; }

.commonhealth_footer-channel a:hover {
  color: #000; }

.commonhealth_footer-copyright {
  color: #555;
  font-size: 0.875rem;
  font-size: 14px;
  text-align: center; }

.commonhealth_footer-channel br,
.commonhealth_footer-copyright br {
  display: none; }

@media (max-width: 768px) {
  .commonhealth_footer-channel {
    font-size: 0.875rem;
    font-size: 14px; }
  .commonhealth_footer-channel li {
    padding-right: 5px;
    margin-right: 3px; }
  .commonhealth_footer-channel li:nth-child(5) {
    border-right: 0;
    padding-right: 0;
    margin-right: 0; }
  .commonhealth_footer-copyright {
    font-size: 0.8125rem;
    font-size: 13px;
    line-height: 1.5; }
  .commonhealth_footer-channel br,
  .commonhealth_footer-copyright br {
    display: inline-block; } }

@media (max-width: 320px) {
  .commonhealth_footer-channel,
  .commonhealth_footer-copyright {
    font-size: 0.75rem;
    font-size: 12px; } }

.wrapper {
  margin: 5px 5px 0px 5px;
  width: calc(100vw - 10px);
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    .wrapper {
      margin: 7px 7px 0px 7px;
      width: calc(100vw - 14px); } }
  @media only screen and (max-width: 550px) {
    .wrapper {
      margin: 5px 5px 0px 5px;
      width: calc(100vw - 10px); } }

.notice-area {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 35px 10px 5px 10px;
  background-color: #dbdcdc; }
  .notice-area .notice-container {
    text-align: justify;
    font-size: 16px;
    color: #888888;
    max-width: 940px;
    margin: 0 auto;
    padding: 0px 10px; }
    .notice-area .notice-container ul {
      list-style: decimal;
      padding-bottom: 30px; }
      .notice-area .notice-container ul li {
        line-height: 26px;
        margin-left: 20px;
        margin-bottom: 10px;
        font-weight: 300; }
        .notice-area .notice-container ul li .sp-txt {
          color: #f35f67; }
        .notice-area .notice-container ul li a {
          color: #888888;
          text-decoration: none; }
          .notice-area .notice-container ul li a:hover {
            text-decoration: underline; }
    .notice-area .notice-container .other-notice {
      padding-top: 10px;
      line-height: 26px;
      font-size: 16px;
      padding-bottom: 30px; }
    .notice-area .notice-container .notice-title {
      width: 130px;
      position: relative;
      text-align: center;
      font-size: 18px;
      margin: 0 auto 30px auto; }
    .notice-area .notice-container .icon-arrow-down,
    .notice-area .notice-container .icon-arrow-up {
      position: absolute;
      top: 5px;
      right: 0px;
      width: 15px;
      height: 10px;
      background-image: url(../images/default/triangle.png);
      background-repeat: no-repeat;
      background-size: 100% 100%; }
    .notice-area .notice-container .icon-arrow-up {
      -webkit-transform: rotateX(180deg);
      transform: rotateX(180deg); }

.card-notice {
  background-color: #ececec;
  color: #999999; }
  .card-notice .wrap-content {
    max-width: 960px;
    padding: 25px 20px;
    margin: 0 auto;
    text-align: center;
    clear: both; }
    .card-notice .wrap-content .big-title {
      display: table-cell;
      width: 45%;
      font-size: 35px;
      letter-spacing: 5px;
      vertical-align: middle; }
      @media only screen and (max-width: 840px) {
        .card-notice .wrap-content .big-title {
          display: block;
          margin: 0px auto 20px auto;
          width: 100%; } }
      @media only screen and (max-width: 400px) {
        .card-notice .wrap-content .big-title {
          font-size: 25px; } }
    .card-notice .wrap-content .descript {
      text-align: left;
      width: 55%;
      font-size: 16px;
      line-height: 1.8;
      display: table-cell;
      vertical-align: top;
      text-align: justify; }
      .card-notice .wrap-content .descript a {
        color: #999999; }
      @media only screen and (max-width: 400px) {
        .card-notice .wrap-content .descript {
          font-size: 15px; } }
    .card-notice .wrap-content .clear {
      clear: both; }

/**************\
* 變數
\**************/
/**************\
* 動畫
\**************/
@-webkit-keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/**************\
* 通用
\**************/
img {
  width: 100%; }

.section .container {
  position: relative;
  max-width: 920px;
  padding: 60px 20px;
  margin: 0 auto; }

.section-title {
  color: #002169;
  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center; }
  @media only screen and (max-width: 900px) {
    .section-title {
      font-size: 30px;
      line-height: 38px; } }

.section-sub-title {
  color: #0097e0;
  font-size: 22px;
  line-height: 30px;
  font-weight: bold;
  text-align: center; }
  @media only screen and (max-width: 900px) {
    .section-sub-title {
      font-size: 18px;
      line-height: 26px; } }

.five-corner-area {
  position: relative; }
  .five-corner-area .color {
    position: absolute;
    top: 0;
    left: 0; }
  .five-corner-area .color.normal-color {
    -webkit-animation-duration: 3s;
    animation-duration: 3s; }

.five-corner-area.an-active .color-an {
  opacity: 0; }

.five-corner-area.an-active .an-1 {
  -webkit-animation: show 1s linear;
  animation: show 1s linear;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.five-corner-area.an-active .an-2 {
  -webkit-animation: show 1s linear;
  animation: show 1s linear;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.five-corner-area.an-active .an-3 {
  -webkit-animation: show 1s linear;
  animation: show 1s linear;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.five-corner-area.an-active .an-4 {
  -webkit-animation: show 1s linear;
  animation: show 1s linear;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.five-corner-area.an-active .an-5 {
  -webkit-animation: show 1s linear;
  animation: show 1s linear;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.link-btn {
  position: relative;
  display: block;
  background-color: #fa8c00;
  min-width: 180px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding: 15px 0;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease; }
  .link-btn:hover {
    background-color: #176ABD; }
  @media only screen and (max-width: 900px) {
    .link-btn {
      font-size: 16px; } }
  .link-btn .icon-arrow {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-right: 10px; }

/**************\
* fixed icon
\**************/
.fixed-icon-area {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  z-index: 100; }
  @media only screen and (max-width: 500px) {
    .fixed-icon-area {
      right: 10px;
      bottom: 10px; } }
  .fixed-icon-area a {
    display: block; }
  .fixed-icon-area .icon-fb {
    margin-bottom: 20px; }

/**************\
* Banner 區塊
\**************/
.section-banner {
  padding-top: 70px; }
  .section-banner .container {
    max-width: 100%;
    width: 100%;
    padding: 0px 0px; }
  .section-banner .kv-bg {
    max-height: calc(100vh - 270px);
    overflow: hidden; }
    .section-banner .kv-bg .mobile {
      display: none; }
      @media only screen and (max-width: 500px) {
        .section-banner .kv-bg .mobile {
          display: block; } }
    .section-banner .kv-bg .desktop {
      display: block; }
      @media only screen and (max-width: 500px) {
        .section-banner .kv-bg .desktop {
          display: none; } }
    @media only screen and (max-width: 500px) {
      .section-banner .kv-bg {
        max-height: 100vh; } }
  .section-banner .title {
    position: absolute;
    width: 34.72222%;
    left: 31.25%;
    top: 22.38806%;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s; }
    @media only screen and (max-width: 500px) {
      .section-banner .title {
        width: 87.5%;
        left: 6.25%;
        top: 32.83582%; } }

/**************\
* kv dsc
\**************/
.section-kv-dsc {
  background-image: url(../images/bg_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .section-kv-dsc .container {
    color: #fff;
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: center; }
  .section-kv-dsc .title {
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 20px;
    line-height: 50px; }
    @media only screen and (max-width: 900px) {
      .section-kv-dsc .title {
        font-size: 38px;
        line-height: 46px; } }
  .section-kv-dsc .dsc {
    font-size: 22px;
    line-height: 30px; }
    @media only screen and (max-width: 900px) {
      .section-kv-dsc .dsc {
        font-size: 18px;
        line-height: 26px; } }

/**************\
* 大人這樣想
\**************/
.section-people-care {
  background-color: #e5f5fc; }
  .section-people-care .section-sub-title {
    padding-bottom: 30px; }
  .section-people-care .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (max-width: 500px) {
      .section-people-care .block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .section-people-care .block .img-area {
      width: 220px;
      max-width: 220px;
      min-width: 220px; }
    .section-people-care .block .dsc {
      width: 100%;
      font-size: 20px;
      line-height: 38px;
      color: #1a1a1a;
      margin-left: 25px; }
      @media only screen and (max-width: 500px) {
        .section-people-care .block .dsc {
          margin-left: 0px;
          font-size: 16px;
          line-height: 34px;
          margin-top: 20px; } }
      .section-people-care .block .dsc .sp-txt {
        font-size: 30px;
        color: #0097e0;
        line-height: 38px;
        font-weight: bold;
        margin: 0 5px; }
        @media only screen and (max-width: 500px) {
          .section-people-care .block .dsc .sp-txt {
            margin-left: 0px;
            font-size: 30px;
            line-height: 24px; } }
  @media only screen and (max-width: 500px) {
    .section-people-care .block-reverse {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; } }
  .section-people-care .block-reverse .dsc {
    margin-left: 0px;
    margin-right: 25px; }
    @media only screen and (max-width: 500px) {
      .section-people-care .block-reverse .dsc {
        margin-right: 0px; } }
  .section-people-care .bottom-title-area {
    position: relative;
    margin: 0 auto;
    max-width: 440px; }
    .section-people-care .bottom-title-area .bottom-title {
      margin: 0 auto;
      width: 63.63636%; }
    .section-people-care .bottom-title-area .hand {
      position: absolute;
      top: 0;
      width: 15.90909%; }
    .section-people-care .bottom-title-area .hand-right {
      right: 0; }
    .section-people-care .bottom-title-area .hand-left {
      left: 0; }

/**************\
* 斜槓熟齡代表團
\**************/
.section-example-people {
  position: relative; }
  @media only screen and (max-width: 900px) {
    .section-example-people .container {
      padding-bottom: 0px; } }
  .section-example-people .section-sub-title {
    padding-bottom: 30px; }
  .section-example-people .bg-line {
    position: absolute;
    width: 100%; }
    @media only screen and (max-width: 500px) {
      .section-example-people .bg-line {
        display: none; } }
  .section-example-people .line-top {
    top: 0;
    left: 0; }
  .section-example-people .line-bottom {
    bottom: 0;
    left: 0; }
  .section-example-people .block {
    position: relative;
    z-index: 10;
    width: 100%;
    margin-bottom: 50px; }
    .section-example-people .block .block-img {
      width: 83.33333%; }
      .section-example-people .block .block-img .mobile {
        display: none; }
        @media only screen and (max-width: 500px) {
          .section-example-people .block .block-img .mobile {
            display: block; } }
      .section-example-people .block .block-img .desktop {
        display: block; }
        @media only screen and (max-width: 500px) {
          .section-example-people .block .block-img .desktop {
            display: none; } }
      @media only screen and (max-width: 900px) {
        .section-example-people .block .block-img {
          position: relative;
          width: 100%;
          z-index: 1;
          padding-bottom: 20px; } }
    .section-example-people .block .block-img-right {
      float: right; }
      .section-example-people .block .block-img-right:after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        clear: both; }
    .section-example-people .block:after {
      content: '';
      display: block;
      width: 0px;
      height: 0px;
      clear: both; }
  .section-example-people .block-dsc-area {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 42.70833%;
    top: 15%; }
    @media only screen and (max-width: 900px) {
      .section-example-people .block-dsc-area {
        position: relative;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0px;
        background-color: initial; } }
    .section-example-people .block-dsc-area .block-title {
      font-size: 25px;
      color: #0097e0;
      line-height: 30px;
      font-weight: bold;
      vertical-align: center;
      padding-bottom: 20px; }
      @media only screen and (max-width: 900px) {
        .section-example-people .block-dsc-area .block-title {
          text-align: center;
          font-size: 21px; } }
      .section-example-people .block-dsc-area .block-title .name {
        font-size: 20px;
        color: #1a1a1a;
        margin-left: 10px; }
        @media only screen and (max-width: 900px) {
          .section-example-people .block-dsc-area .block-title .name {
            font-size: 18px; } }
    .section-example-people .block-dsc-area .block-left {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
      width: 53.65854%; }
      @media only screen and (max-width: 900px) {
        .section-example-people .block-dsc-area .block-left {
          display: block;
          width: 100%;
          max-width: 68.75%;
          margin: 0 auto; } }
    .section-example-people .block-dsc-area .block-right {
      display: inline-block;
      width: 41.46341%; }
      @media only screen and (max-width: 900px) {
        .section-example-people .block-dsc-area .block-right {
          display: block;
          width: 100%;
          margin: 0 auto;
          padding-top: 20px; } }
      .section-example-people .block-dsc-area .block-right .block-txt {
        font-size: 18px;
        line-height: 28px; }
        .section-example-people .block-dsc-area .block-right .block-txt .sp-txt {
          color: #0097e0; }
  @media only screen and (max-width: 900px) {
    .section-example-people .desktop-btn {
      display: none; } }
  .section-example-people .mobile-btn {
    display: none; }
    @media only screen and (max-width: 900px) {
      .section-example-people .mobile-btn {
        display: block;
        margin: 20px auto 0px auto; } }
  .section-example-people .block-1 .block-dsc-area {
    right: 0; }
  .section-example-people .block-2 .block-dsc-area {
    left: 0; }
  .section-example-people .block-3 .block-dsc-area {
    right: 0; }
  .section-example-people .block-4 .block-dsc-area {
    left: 0; }
  .section-example-people .link-btn {
    max-width: 180px; }

/**************\
* 老師建議
\**************/
.section-teacher {
  position: relative;
  background-color: #e5f5fc; }
  @media only screen and (max-width: 650px) {
    .section-teacher .section-title {
      padding-bottom: 20px; } }
  .section-teacher .content .title {
    color: #0097e0;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    padding-bottom: 20px; }
    @media only screen and (max-width: 900px) {
      .section-teacher .content .title {
        font-size: 18px;
        line-height: 26px; } }
    @media only screen and (max-width: 650px) {
      .section-teacher .content .title {
        text-align: center; } }
  @media only screen and (max-width: 650px) {
    .section-teacher .content .desktop-title {
      display: none; } }
  .section-teacher .content .mobile-title {
    display: none; }
    @media only screen and (max-width: 650px) {
      .section-teacher .content .mobile-title {
        display: block; } }
  @media only screen and (max-width: 650px) {
    .section-teacher .content .desktop-btn {
      display: none; } }
  .section-teacher .content .mobile-btn {
    display: none; }
    @media only screen and (max-width: 650px) {
      .section-teacher .content .mobile-btn {
        display: block;
        max-width: 180px;
        margin: 0 auto;
        padding-top: 10px; } }
  .section-teacher .img-area {
    display: inline-block;
    vertical-align: top;
    width: 25%; }
    .section-teacher .img-area .name {
      display: block;
      font-size: 22px;
      color: #1a1a1a;
      font-weight: bold;
      text-align: center;
      padding-top: 20px; }
    @media only screen and (max-width: 650px) {
      .section-teacher .img-area {
        display: block;
        width: 100%;
        max-width: 240px;
        margin: 0 auto;
        padding-bottom: 20px; } }
  .section-teacher .dsc-area {
    display: inline-block;
    width: 71.875%;
    margin-left: 10px; }
    @media only screen and (max-width: 650px) {
      .section-teacher .dsc-area {
        display: block;
        width: 100%;
        margin: 0 auto; } }
    .section-teacher .dsc-area .dsc-left {
      display: inline-block;
      vertical-align: top;
      width: 63.76812%; }
      @media only screen and (max-width: 650px) {
        .section-teacher .dsc-area .dsc-left {
          display: block;
          width: 100%;
          margin: 0 auto; } }
      .section-teacher .dsc-area .dsc-left p {
        color: #1a1a1a;
        font-size: 18px;
        line-height: 28px;
        padding-bottom: 30px; }
        @media only screen and (max-width: 650px) {
          .section-teacher .dsc-area .dsc-left p {
            font-size: 16px;
            line-height: 26px;
            padding-bottom: 20px; } }
    .section-teacher .dsc-area .dsc-right {
      display: inline-block;
      width: 31.88406%; }
      @media only screen and (max-width: 650px) {
        .section-teacher .dsc-area .dsc-right {
          display: block;
          width: 100%;
          max-width: 220px;
          margin: 0 auto; } }
    .section-teacher .dsc-area .link-btn {
      max-width: 180px; }

/**************\
* 最後
\**************/
@media only screen and (max-width: 650px) {
  .section-bottom .container {
    padding-top: 10px; } }

.section-bottom .product-area .mobile {
  display: none; }
  @media only screen and (max-width: 500px) {
    .section-bottom .product-area .mobile {
      display: block; } }

.section-bottom .product-area .desktop {
  display: block; }
  @media only screen and (max-width: 500px) {
    .section-bottom .product-area .desktop {
      display: none; } }

.section-bottom .btn-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 440px;
  margin: 0 auto;
  padding: 60px 0px; }
  .section-bottom .btn-area a {
    display: block;
    width: 50%; }
  .section-bottom .btn-area .first-btn {
    margin-right: 40px; }
  @media only screen and (max-width: 650px) {
    .section-bottom .btn-area {
      display: block;
      padding: 30px 0px 40px 0px; }
      .section-bottom .btn-area a {
        max-width: 200px;
        margin: 0 auto;
        margin-bottom: 30px; }
      .section-bottom .btn-area .first-btn {
        margin-right: auto; } }

.section-bottom .title {
  max-width: 540px;
  margin: 0 auto; }

.section-bottom .other-dsc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 55px 0px 50px 0px; }
  .section-bottom .other-dsc .left {
    width: 55%;
    margin-right: 30px; }
  .section-bottom .other-dsc .right {
    width: 55%; }
  @media only screen and (max-width: 650px) {
    .section-bottom .other-dsc {
      display: block; }
      .section-bottom .other-dsc .left {
        width: 100%;
        margin-right: 0px; }
      .section-bottom .other-dsc .right {
        width: 100%; } }

.section-bottom .fb-btn-area {
  padding: 0px;
  width: 220px;
  margin: 0 auto; }
  .section-bottom .fb-btn-area .link-btn {
    background-color: #1976d2;
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    min-width: 220px; }
    .section-bottom .fb-btn-area .link-btn:hover {
      background-color: #176ABD; }

#section_kv_dsc,
#section_example,
#section_teacher {
  position: absolute;
  top: -70px;
  left: 0px; }
